<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<gui-definition>
<servers>
    <server>
        <servername>PROVA TEST PADOVA</servername>
        <fedoraurl>fedora.cab.unipd.it</fedoraurl>
        <phaidraurl>phaidratest.cab.unipd.it</phaidraurl>
        <staticurl>phaidrastatic.cab.unipd.it</staticurl>
        <stylesheeturl>http://phaidrastatic.cab.unipd.it/stylesheets/externalview.xsl</stylesheeturl>
        <oaiIdentifier>cab.unipd.it</oaiIdentifier>
    </server>
    <server>
        <servername>PROVA TEST PADOVA 2</servername>
        <fedoraurl>fedoradev.cab.unipd.it</fedoraurl>
        <phaidraurl>phaidradev.cab.unipd.it</phaidraurl>
        <staticurl>phaidrastaticdev.cab.unipd.it</staticurl>
        <stylesheeturl>http://phaidrastaticdev.cab.unipd.it/stylesheets/externalview.xsl</stylesheeturl>
        <oaiIdentifier>cab.unipd.it</oaiIdentifier>
    </server>
    <server>
        <servername>PROVA TEST VIENNA</servername>
	<fedoraurl>fedora.phaidra-test.univie.ac.at</fedoraurl>
	<phaidraurl>phaidra-test.univie.ac.at</phaidraurl>
	<staticurl>static.phaidra-test.univie.ac.at</staticurl>
	<stylesheeturl>http://static.phaidra-test.univie.ac.at/stylesheets/externalview.xsl</stylesheeturl>
        <oaiIdentifier>univie.ac.at</oaiIdentifier>
    </server> 
	<server>
        <servername>PROVA TEST VIENNA SANDBOX</servername>
	<fedoraurl>fedora.phaidra-sandbox.univie.ac.at</fedoraurl>
	<phaidraurl>phaidra-sandbox.univie.ac.at</phaidraurl>
	<staticurl>static.phaidra-sandbox.univie.ac.at</staticurl>
	<stylesheeturl>http://static.phaidra-sandbox.univie.ac.at/stylesheets/externalview.xsl</stylesheeturl>
        <oaiIdentifier>univie.ac.at</oaiIdentifier>
    </server> 
  </servers>
<resources>
      <resource descr="binglese">en</resource>
      <resource descr="bitaliano">it</resource>
      <resource descr="btedesco">de</resource>
</resources>
<urlupdater>
	<descrurl>http://www.im-tech.it/releases/phaidra/updater.xml</descrurl>
</urlupdater>
</gui-definition>
